/* ===
Import
=== */

@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

/* === 
Variables
=== */

:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
  --Space-Blue: #2c365e;
  --Dark-Blue: #171d30;
}

/* ===
Global Styles
=== */

*,
*::before,
*::after {
  /* font-family: "Alata", sans-serif; */
  font-family: "Josefin Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* text-align: center; */
}
main {
  color: white;
}
button {
  text-decoration: none;
  padding: 1em 1.5em;
  border-style: none;
  cursor: pointer;
}
ul li {
  list-style-type: none;
}
h1 {
  font-size: 1.5rem;
  text-align: center;
}
h2 {
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

/* ===
Global Classes
=== */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--Space-Blue);
  color: var(--White);
  padding: 2em 3em;
  position: fixed;
  z-index: 99;
}
/* .search-section {
  width: 100%;
  min-height: 100vh;
} */

.nav-bar ul {
  display: none;
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 765px) {
  .nav-bar ul {
    display: flex;
  }
}
.nav-bar ul li {
  margin-right: 1em;
  font-size: 1.2rem;
}
.banner {
  width: 100%;
  min-height: calc(100vh - 88px);
  background-image: url(../img/anime-cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
}
.search-bar {
  width: 90%;
  min-width: 12em;
  max-width: 40em;
  border-radius: 25px;
  padding: 0.7em;
  margin-bottom: 1em;
  border-style: none;
  text-align: left;
  font-size: 1.2rem;
}
.overlay {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: grid;
  place-items: center;
}
.search-div {
  width: 80%;
  text-align: center;
}

.search-div h2 {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 1em;
}
.search-func {
  position: relative;
}
#search-btn {
  display: block;
  border-radius: 25px;
  background-color: #2c365e;
  color: white;
  margin: 0 auto;
}

main {
  background-color: var(--Dark-Blue);
  padding-top: 88px;
}
.movie-list-section {
  /* width: 85%;
  margin: 1em auto; */
}
.movie-list-section > h2 {
  margin: 2em 0;
}
.movie-list {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.movie-card,
.movie-card-aside {
  display: flex;
  border: 1px solid white;
  height: 10em;
  width: 100%;
  margin-bottom: 1em;
}
.movie-card img {
  height: 100%;
}
.movie-info {
  padding: 2em 1em;
  background-color: rgb(15, 9, 5);
  width: 100%;
}
.movie-overview {
  display: none;
}
.top-rated-movies-aside {
  border: 1px solid white;
  width: 85%;
  margin: 0 auto;
}
.top-rated-movies-aside > h2 {
  margin: 2em 0;
}
.top-rated-list {
  width: 85%;
  margin: 0 auto;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* flex-wrap: wrap; */
  overflow-x: auto;
}
.movie-card-aside {
  display: block;
  height: 15em;
  width: 10em;
}
.movie-card-aside img {
  width: 100%;
}
