/* ===
Import
=== */

@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

/* === 
Variables
=== */

:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
  --Space-Blue: #2c365e;
  --Dark-Blue: #171d30;
  --Secondary-Yellow: rgb(160, 150, 17);
}

/* ===
Global Styles
=== */

*,
*::before,
*::after {
  /* font-family: "Alata", sans-serif; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* text-align: center; */
}
body {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

main {
  color: white;
}
button {
  text-decoration: none;
  padding: 1em 1.5em;
  border-style: none;
  cursor: pointer;
}
ul li {
  list-style-type: none;
}
h1 {
  font-size: 1.5rem;
  text-align: center;
}
h2 {
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
p {
  font-size: 1.3rem;
}
i {
  color: var(--White);
  /* width: 1em; */
  font-size: 1.1rem;
}
/* ===
Global Classes
=== */

/* Nav */
header {
  width: 100%;
  background-color: var(--Space-Blue);
  position: fixed;
  z-index: 99;
  color: var(--White);
  top: 0;
}
.header-container {
  /* max-width: 1400px; */
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2em 0;
}

.nav-bar ul {
  display: none;
  align-items: center;
  justify-content: space-between;
}

.nav-bar ul a:hover,
.nav-bar ul a:focus,
.current {
  border-bottom: 2px solid var(--White);
}

.hamburger-icon {
  display: block;
}
.mobile-nav-bar {
  text-align: left;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--Dark-Blue);
  padding: 2.5em;
  transform: translateX(100%);
  transition: transform 0.6s ease-in-out;
}
.mobile-nav-bar.open {
  transform: translateX(0%);
}
.mobile-nav-bar h1 {
  margin-bottom: 4em;
  font-size: 1.8rem;
}
.mobile-nav-bar > ul {
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-transform: uppercase;
}
.mobile-nav-bar > ul li {
  margin-bottom: 2em;
}
#mobile-close-icon {
  float: right;
}

@media (min-width: 765px) {
  .nav-bar ul {
    display: flex;
  }
  .hamburger-icon {
    display: none;
  }
}
.nav-bar ul li {
  margin-right: 2em;
  font-size: 1.2rem;
}

/* Main */
.media-details-wrapper {
  display: grid;
  place-items: center;
  background-color: var(--Dark-Blue);
  min-height: 100vh;
}
.backdrop {
  width: 90%;
  max-width: 1300px;
  position: relative;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 6em;
  margin-bottom: 2em;
}
.backdrop-img-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.backdrop-img-div::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(32, 32, 32, 0.7);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.712) 0%,
    rgba(0, 0, 0, 0.664) 100%
  );
}
.backdrop-img-div::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(32, 32, 32, 0.7);
  background: linear-gradient(
    -90deg,
    rgba(31, 31, 31, 0.3) 0%,
    rgba(26, 25, 25, 0.5) 100%
  );
}
.backdrop-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.add-div {
  color: var(--Secondary-Yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--Secondary-Yellow);
  position: relative;
  padding: 1em;
  z-index: 98;
  cursor: pointer;
  max-width: 500px;
  margin: 0 auto;
}
.add-div i {
  margin-right: 1em;
  color: var(--Secondary-Yellow);
}

.add-div:hover,
.add-div:hover .fa-plus {
  background-color: var(--Secondary-Yellow);
  color: white;
}

.media-content {
  /* width: 0; */
  /* max-width: 550px; */
  /* margin: 0 auto; */
  flex-grow: 1;
}

.media-info {
  z-index: 98;
  width: 100%;
  position: relative;
  padding: 3em;

  border-radius: 15px;
}
.poster-img {
  width: 180px;
}
.poster-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2em;
  z-index: 99;
}
.media-title {
  margin-bottom: 1em;
  font-size: 2.8rem;
  font-weight: bolder;
}
.overview-heading,
.overview {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}
.overview-heading {
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

.overview {
  margin-bottom: 3em;
  text-align: center;
}
.detail {
  margin-bottom: 1.3em;
  text-align: center;
}
.genre-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
}
.genres {
  padding: 0.5em 1em;
  background-color: var(--Dark-Blue);
  border-radius: 20px;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
.links a {
  text-decoration: underline;
}
.links-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
}
.links-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;
  background-color: var(--Dark-Blue);
  border-radius: 10px;
  max-width: 11em;
  cursor: pointer;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
.links-item i {
  width: 2em;
}
.links-item > p {
  font-size: 1rem;
}
.links-item:hover {
  background-color: var(--Space-Blue);
}
.links-item img {
  max-width: 1.5em;
  margin-right: 0.5em;
}
.bold {
  font-weight: bold;
}

@media (min-width: 850px) {
  .poster-img {
    width: 100%;
    min-width: 250px;
    max-width: 320px;
  }
  .media-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .media-info {
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* margin-bottom: 3em; */
  }
  .poster-div {
    width: 40%;
    margin-right: 3em;
  }
  .links-div {
    justify-content: flex-start;
  }
  .detail {
    margin-bottom: 1.3em;
    text-align: left;
  }
  .overview-heading {
    font-size: 1.7rem;
  }
}

/* Footer */
.footer {
  background-color: var(--Space-Blue);
  padding: 3em;
  color: var(--White);
  text-align: center;
}
