/* ===
Import
=== */

@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

/* === 
Variables
=== */

:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
  --Space-Blue: #2c365e;
  --Dark-Blue: #171d30;
}

/* ===
Global Styles
=== */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* text-align: center; */
}
body {
  font-family: "Josefin Sans", sans-serif;
  /* text-align: center; */
}
main {
  color: white;
}
button {
  text-decoration: none;
  padding: 1em 1.5em;
  border-style: none;
  cursor: pointer;
}
ul li {
  list-style-type: none;
}
h1 {
  font-size: 1.5rem;
  text-align: center;
}
h2 {
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
i {
  cursor: pointer;
}
p {
  white-space: normal;
}
/* ===
Global Classes
=== */

/* Nav */
header {
  width: 100%;
  background-color: var(--Space-Blue);
  position: fixed;
  z-index: 99;
  color: var(--White);
  top: 0;
}
.header-container {
  /* max-width: 1400px; */
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2em 0;
}
.logo {
  cursor: pointer;
}
.nav-bar ul {
  display: none;
  align-items: center;
  justify-content: space-between;
}

.nav-bar ul a:hover,
.nav-bar ul a:focus,
.current {
  border-bottom: 2px solid var(--White);
}

.hamburger-icon {
  display: block;
}
.mobile-nav-bar {
  text-align: left;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--Dark-Blue);
  padding: 2.5em;
  transform: translateX(100%);
  transition: transform 0.6s ease-in-out;
}
.mobile-nav-bar.open {
  transform: translateX(0%);
}
.mobile-nav-bar h1 {
  margin-bottom: 4em;
  font-size: 1.8rem;
}
.mobile-nav-bar > ul {
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-transform: uppercase;
}
.mobile-nav-bar > ul li {
  margin-bottom: 2em;
}
#mobile-close-icon {
  float: right;
}

@media (min-width: 765px) {
  .nav-bar ul {
    display: flex;
  }
  .hamburger-icon {
    display: none;
  }
}
.nav-bar ul li {
  margin-right: 2em;
  font-size: 1.2rem;
}

/* Main */
main {
  background-color: var(--Dark-Blue);
  padding-top: 8em;
  /* height: 100vh; */
}
.main-wrapper {
  margin: 0 auto;
  width: 85%;
  padding-bottom: 3em;
}
.title {
  font-size: 2rem;
  margin-bottom: 2em;
}
.clear-div {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
}
.clear-btn {
  border-radius: 10px;
  color: var(--White);
  background-color: var(--Space-Blue);
}
.clear-btn:hover {
  background-color: #85a2ff;
}
.tabs-div {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 0.5em; */
}
.tab {
  width: 33%;
  padding: 1em;
  text-align: center;
  background-color: var(--Space-Blue);
}
.tab.selected {
  background-color: #5b7ce9;
  font-weight: bolder;
}
.list-container {
  min-height: 70vh;
  background-color: var(--Dark-Blue);
  position: relative;
}
.list {
  position: absolute;
  max-height: 70vh;
  min-height: 70vh;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.movie-list {
  background-color: #05113a;
}
.tv-list {
  background-color: #3a0533;
  display: none;
}
.anime-list {
  background-color: #3a3505;
  display: none;
}

.movie-item,
.tv-item,
.anime-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 78, 146);
}
.poster {
  width: 100%;
  height: 100%;
}
.poster-div {
  min-width: 6em;
  width: 6em;
  height: calc(6em / 3 * 4);
}
.movie-title,
.anime-title,
.tv-title {
  flex: 1;
  padding: 0.5em;
  font-size: 1.2rem;
}
.watched-div,
.delete-div {
  display: grid;
  place-items: center;
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
  cursor: pointer;
  background-color: var(--Dark-Blue);
  border-radius: 10px;
}
.watched-div {
  color: green;
}
.delete-div {
  color: red;
}
.watched-div:hover,
.delete-div:hover {
  background-color: #85a2ff;
}
.list-item {
  margin-bottom: 0.5em;
}
.movie-title {
  /* max-width: 100px; */
}
.list.selected {
  display: inline-block;
}
.list-item.watched {
  background-color: rgb(155, 155, 155);
}

.list-item.watched p {
  text-decoration: line-through;
}
@media (min-width: 900px) {
  .list-container {
    display: flex;
    justify-content: space-between;
  }
  .tab {
    width: 32%;
  }
  .list {
    position: relative;
    display: block;
    width: 32%;
  }
  .tab {
    font-size: 1.4rem;
  }
  .tab.selected {
    background-color: var(--Space-Blue);
    font-weight: initial;
  }
}
/* Footer */
.footer {
  background-color: var(--Space-Blue);
  padding: 3em;
  color: var(--White);
  text-align: center;
}
