/* ===
Import
=== */

@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

/* === 
Variables
=== */

:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
  --Space-Blue: #2c365e;
  --Lighter-Blue: #456bd1;
  --Light-Blue: #4a5881;
  --Dark-Blue: #171d30;
  --Dark-Blue-Section: #242b42;
  --Transp-Blue: #171d30e3;
}

/* ===
Global Styles
=== */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

main {
  color: var(--White);
}
button {
  text-decoration: none;
  padding: 0.7em 1.1em;
  border-style: none;
  cursor: pointer;
}
ul li {
  list-style-type: none;
  cursor: pointer;
}
h1 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--White);
  cursor: pointer;
}
i {
  color: var(--White);
  font-size: 1.2rem;
}

/* ===
Global Classes
=== */

/* Nav */
header {
  width: 100%;
  background-color: var(--Space-Blue);
  position: fixed;
  z-index: 99;
  color: var(--White);
  top: 0;
}
.header-container {
  /* max-width: 1400px; */
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2em 0;
}

.nav-bar ul {
  display: none;
  align-items: center;
  justify-content: space-between;
}

.nav-bar ul a:hover,
.nav-bar ul a:focus,
.current {
  border-bottom: 2px solid var(--White);
}

.hamburger-icon {
  display: block;
}
.mobile-nav-bar {
  text-align: left;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--Dark-Blue);
  padding: 2.5em;
  transform: translateX(100%);
  transition: transform 0.6s ease-in-out;
}
.mobile-nav-bar.open {
  transform: translateX(0%);
}
.mobile-nav-bar h1 {
  margin-bottom: 4em;
  font-size: 1.8rem;
}
.mobile-nav-bar > ul {
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-transform: uppercase;
}
.mobile-nav-bar > ul li {
  margin-bottom: 2em;
}
#mobile-close-icon {
  float: right;
}

@media (min-width: 765px) {
  .nav-bar ul {
    display: flex;
  }
  .hamburger-icon {
    display: none;
  }
}
.nav-bar ul li {
  margin-right: 2em;
  font-size: 1.2rem;
}

/* Banner */
.banner {
  width: 100%;
  min-height: calc(100vh - 88px);
  background-image: url(../img/movies-cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  position: relative;
}
.search-bar {
  width: 90%;
  min-width: 12em;
  max-width: 40em;
  border-radius: 25px;
  padding: 0.7em 1.2em;
  margin-bottom: 1em;
  border-style: none;
  text-align: left;
  font-size: 1.2rem;
}
.overlay {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: grid;
  place-items: center;
}
.search-div {
  width: 80%;
  text-align: center;
}

.search-div h2 {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 1em;
}
.search-func {
  position: relative;
}
#search-btn {
  display: block;
  border-radius: 25px;
  background-color: var(--Lighter-Blue);
  color: var(--White);
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.1rem;
}
#search-btn:hover {
  background-color: var(--Dark-Blue);
}
.nav-down-div {
  position: absolute;
  bottom: 3em;
}
.nav-down-div h2 {
  margin-bottom: 1em;
}
.nav-down-btn {
  border-radius: 50px;
  padding: 0;
  height: 3em;
  width: 3em;
  background-color: var(--Lighter-Blue);
}
.nav-down-btn:hover {
  background-color: var(--Dark-Blue);
}

/* Main */
main {
  background-color: var(--Dark-Blue);
  padding-top: 88px;
}
.movie-list-section > h2 {
  margin: 2em 0;
}
.movie-results {
  display: flex;
  flex-direction: column;
}
.movie-list-section {
  order: 2;
  margin-bottom: 4em;
}
.movie-list {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.movie-card,
.movie-card-aside {
  display: flex;
  height: 10em;
  width: 100%;
  text-align: left;
  color: black;
  margin-bottom: 0.5em;
  cursor: pointer;
  overflow: hidden;
}
.poster {
  min-width: 130px;
}
.poster img {
  height: 100%;
  width: 120px;
}
.movie-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2em 1em;
  background-color: var(--Dark-Blue-Section);
  width: 100%;
  color: var(--White);
}
.movie-title {
  width: 100%;
}
.duration,
.release-year,
.dot {
  margin-right: 2em;
}
.movie-overview {
  display: none;
  color: var(--White);
  background-color: var(--Dark-Blue-Section);
  padding: 1em;
}
@media (min-width: 540px) {
  .movie-overview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
  }
}
.blurb {
  display: -webkit-box;
  max-width: 500px;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #666;
  display: inline-block;
}
.upcoming-movies-aside {
  width: 100%;
  margin: 0 auto;
  order: 1;
}
.upcoming-movies-aside > h2 {
  margin: 2em 0;
}
.upcoming-list {
  width: 100%;
  margin: 0 auto;
  padding: 0 2em;
  display: flex;
  align-items: center;
  overflow-y: auto;
  white-space: nowrap;
}
.movie-card-aside {
  display: block;
  max-width: 9em;
  min-width: 9em;
  overflow: hidden;
  margin-right: 0.3em;
  color: var(--White);
  height: auto;
  width: 100%;
  max-width: 120px;
}
.movie-card-aside .movie-info {
  padding: 1em 0.5em;
}
.movie-card-aside .movie-info {
  height: 88px;
}
.movie-card-aside > img,
.movie-card img {
  color: var(--White);
}

.movie-card-aside > img {
  width: 100%;
  height: 100%;
  float: left;
}
.movie-card-aside h3 {
  width: 100%;
  white-space: normal;
  font-size: 1rem;
  margin-bottom: 0.5em;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
}
#prev,
#current {
  margin-right: 1em;
}
.page {
  cursor: pointer;
}
#prev:hover,
#next:hover {
  font-weight: bold;
}
#current {
  padding: 1em;
  border: 2px solid var(--Light-Blue);
  font-weight: bold;
  /* background-color: var(--Light-Blue); */
}
.page.disabled {
  cursor: not-allowed;
  color: gray;
}
.red {
  color: rgb(177, 8, 8);
}
.green {
  color: rgb(5, 173, 5);
}
.orange {
  color: #f7a000;
}
@media (min-width: 810px) {
  /* Scrollbar */
  /* width */
  ::-webkit-scrollbar {
    width: 13px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 15px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13em, 1fr));
    gap: 5px;
    width: 85%;
  }
  .movie-card {
    max-width: 14em;
    flex-direction: column;
    height: auto;
    margin: 0.5em;
    margin-top: 0;
    position: relative;
  }
  .poster {
    width: auto;
    height: calc(14em / 3 * 4.3);
  }
  .poster img {
    width: 100%;
  }
  .movie-info {
    display: flex;
    align-items: center;
    padding: 1em;
    flex-wrap: wrap;
    background-color: var(--Dark-Blue-Section);
    height: 90px;
  }
  .movie-title {
    width: 100%;
    margin-bottom: 0.3em;
    font-size: 0.9rem;
  }
  .duration,
  .release-year,
  .rating {
    margin-right: 0;
    width: 32%;
    display: flex;
    align-items: flex-end;
  }
  .release-year {
    justify-content: flex-end;
  }
  .rating {
    font-weight: bold;
    text-align: right;
    justify-content: flex-end;
  }
  .movie-overview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 1em;
    background-color: var(--Transp-Blue);
    line-height: 1.4rem;
    transform: translateY(100%);
    transition: transform 0.4s ease-in;
  }
  .blurb {
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 15;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .movie-card:hover .movie-overview {
    transform: translateY(0%);
  }
  .movie-overview a {
    font-weight: bold;
  }
  .movie-results {
    flex-direction: row;
  }
  .movie-list-section {
    order: 1;
    width: 78%;
  }
  .upcoming-movies-aside {
    width: 22%;
    min-width: 270px;
    background-color: var(--Dark-Blue-Section);
    position: sticky;
    top: 88px;
    margin: 1.5em;
    max-height: 90vh;
    overflow-y: scroll;
    padding-bottom: 1em;
    /* position: relative; */
  }

  .upcoming-movies-aside h2 {
    margin: 1em;
    margin-bottom: 1.5em;
    position: sticky;
    top: 0;
    right: 0;
    background-color: var(--Dark-Blue-Section);
    padding: 1em;
  }
  .upcoming-list {
    display: block;
    /* min-height: 500px; */
    /* max-height: 1000px; */
    /* overflow-y: scroll; */
    /* margin: 0 1em; */
  }
  .movie-card-aside {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
  }
  .movie-card-aside > img {
    width: 110px;
    height: calc(110px / 3 * 4.3);
    float: left;
  }
  .movie-card-aside h3 {
    width: 100%;
    white-space: normal;
    font-size: 0.9rem;
  }
  .dot {
    margin-right: 0;
  }
}

/* Footer */
.footer {
  background-color: var(--Space-Blue);
  padding: 3em;
  color: var(--White);
}
